html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}



h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

address {
  font-style: normal;
}



button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
  border: none;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}


:root {
  --dark: #311707;
  --dark-text: #311707;
  --yellow: #FFD050;
  --white: #fff;
  --white-text: #fff;

  --font-family: "Manrope";
  --second-family: "Ibarra Real Nova";
}

.body-page {
  font-family: var(--font-family);
  background-color: #F5F5F5;
  font-weight: 400;
  min-height: 100vh;
  overflow-x: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}


.btn-reset {
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.section-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 28px;
  letter-spacing: 0.06em;
  color: var(--dark-text);
  text-align: center;
  margin-bottom: 40px;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  padding: 30px 0;
  width: 100%;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  max-width: 1460px;
  padding: 0 30px;
  margin: 0 auto;
  height: auto;
}

.header-logo {
  display: block;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 45px;
}


.nav-list__item {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
  transition: color 0.4s ease;
}

.nav-list__item:hover {
  color: rgba(255, 255, 255, 0.7);
}

.nav-list__item--active {
  font-weight: 600;
  font-size: 18px;
  color: var(--white);
}

.burger-mobile{
  display: none;
}

.welcome {
  background: linear-gradient(360deg, rgba(3, 17, 28, 0.15) 20.66%, rgba(4, 36, 13, 0.15) 98.57%), url(./..//images/welcome-bg.png) no-repeat center/cover;
  width: 100%;
  height: 530px;
  padding-top: 20px;
  margin-bottom: 148px
}

.welcome-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 220px;
}

.welcome__title {
  margin-bottom: 56px;
  font-weight: 700;
  font-size: clamp(22px, 2vw, 34px);
  line-height: 141%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--white-text);
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.welcome-second {
  background: linear-gradient(360deg, rgba(3, 17, 28, 0.15) 20.66%, rgba(4, 36, 13, 0.15) 98.57%), url(./..//images/welcome-bg.png) no-repeat center/cover;
  width: 100%;
  height: 300px;
  padding-top: 20px;
  margin-bottom: 90px;
}

.welcome-second-wrapper {
  text-align: center;
  margin-top: 140px;
}

.btn {
  padding: 16px 40px;
  font-weight: 600;
  font-size: 24px;
  color: var(--dark);
  background-color: var(--yellow);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.30);
  border-radius: 10px;
  transition: background-color 0.4s ease;
  transition: font-size 0.4s ease;
}

.btn:hover {
  background-color: #f8c537;
}

.btn:active {
  font-size: 25px;
}

.hero {

  height: 100%;
  margin-bottom: 148px;
}

.hero-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 40px;
}

.hero-img {
  max-width: 680px;
  height: auto;
}

.hero-img img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.hero-descr__title {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 40px;
  color: var(--dark);
  margin-bottom: 28px;
}

.hero-descr__text {
  font-size: 20px;
  line-height: 180%;
  color: var(--dark-text);
  opacity: 0.8;
}

.services {
  margin-bottom: 148px;
}

.services-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
}

.services-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.services-item__img {
  margin-bottom: 36px;
}

.services-item__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.services-item__btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 22px;
  color: var(--dark-text);
  background-color: var(--yellow);
  border-radius: 10px;
  padding: 16px 0;
  width: 180px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease-in-out;
}

.services-item__btn:hover {
  background-color: #f8c537;
}

.services-item__btn:active {
  background-color: #FFE7A7;
}

.benefit {
  margin-bottom: 150px;
}

.benefit-wrapper {
  display: flex;
  align-items: center;
}

.benefit-decr {
  max-width: 930px;
}

.benefit__title {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 32px;
  text-transform: uppercase;
  color: var(--dark-text);
  margin-bottom: 46px;
}

.benefit-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 40px;
  row-gap: 50px;
  flex-wrap: wrap;
}

.benefit-item {
  max-width: 380px;
}

.benefit-item__title {
  font-weight: 500;
  font-size: 22px;
  line-height: 150%;
  color: var(--dark-text);
  margin-bottom: 18px;
}

.benefit-item__text {
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  color: var(--dark-text);
  opacity: 0.7;
  max-width: 380px;
}

.benefit-img {
  object-fit: cover;
  margin-left: 20px;

}

.benefit-img img {
  border-radius: 10px;

  height: 530px;
  width: auto;
  object-fit: cover;
}

.gallery {
  margin-bottom: 148px;
}

.gallery-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-rows: auto;
  gap: 40px;
  column-gap: 20px;
}

.img-box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;

}

.img-1 {
  grid-column: span 3 / span 3;
  grid-row: span 3 / span 3;
}

.img-2 {
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  grid-column-start: 4;
  grid-row-start: 1;
}

.img-3 {
  grid-column: span 4 / span 4;
  grid-row: span 2 / span 2;
  grid-column-start: 6;
  grid-row-start: 1;

}

.img-4 {
  grid-column: span 3 / span 3;
  grid-row: span 2 / span 2;
  grid-column-start: 10;
  grid-row-start: 1;

}

.img-5 {
  grid-column: span 3 / span 3;
  grid-row: span 2 / span 2;
  grid-column-start: 1;
  grid-row-start: 4;
}

.img-6 {
  grid-column: span 4 / span 4;
  grid-row: span 2 / span 2;
  grid-column-start: 4;
  grid-row-start: 4;

}

.img-7 {
  grid-column: span 3 / span 3;
  grid-row: span 3 / span 3;
  grid-column-start: 8;
  grid-row-start: 3;

}

.img-8 {
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  grid-column-start: 11;
  grid-row-start: 3;

}

.img-9 {
  grid-column: span 2 / span 2;
  grid-column-start: 6;
  grid-row-start: 3;
}

.gallery {
  margin-bottom: 80px;
}

.galery-small {
  display: none;
  margin-bottom: 60px;
}

.galery-small-wrapper {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-template-rows: auto;
  row-gap: 20px;
  column-gap: 20px;
}

.gellery-small__img {
  height: 100%;


  object-fit: cover;


}

.galery-small-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.galery-small__img-1 {
  grid-column: span 3;
  grid-row: span 5;
  grid-column-start: 1;
  grid-column-end: 4;


}

.galery-small__img-2 {
  grid-column: span 3;
  grid-row: span 4;


}

.galery-small__img-3 {
  width: 100%;
  grid-column: span 3;
  grid-row: span 5;
  grid-row-start: 5;
  grid-row-end: 10;
  grid-column-start: 4;
  grid-column-end: 7;




}

.galery-small__img-4 {
  grid-column: span 3;
  grid-row: span 4;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 10;


}

.news {
  margin-bottom: 148px;
}

.news-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;

}

.news-card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background-color: #fff;
  min-height: 460px;
  max-height: 100%;
  border-radius: 10px;
  transition: box-shadow 0.3s ease-in-out;
}

.news-card:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}



.news-card__img {
  width: 100%;
  height: auto;
}

.news-card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;

}

.news-card-descr {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 20px 20px;
}

.news-card__title {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.02em;
  color: var(--dark-text);

}

.news-card__date {
  font-size: 20px;
  line-height: 125%;
  letter-spacing: 0.02em;
  color: var(--dark-text);
  opacity: 0.8;
  font-variant: all-small-caps;
}

.opinion {
  margin-bottom: 160px;
}

.opinion-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;

}

.opinion-img {
  width: auto;
  height: 454px;
}

.opinion-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.opinion-slider {
  position: relative;
  width: 605px;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 16px;

  overflow: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}


.opinion-slider__line {
  display: flex;
  align-items: center;
  width: calc(605px * 3);
  height: auto;
}

.slider-card {
  width: 100%;
  min-height: 320px;
  padding: 30px 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 3px -1px rgba(49, 23, 7, 0.2);
  scroll-snap-align: start;
}

.slider-card_decor {
  display: flex;
  justify-content: space-between;
}

.slider-card__quotes {
  transform: translateY(-55%);

}

.slider-card__quotes svg {
  fill: var(--dark);
  fill-opacity: 0.1;
}

.slider-card__stars {
  margin-left: 6px;
}

.slider-card__stars svg {
  fill: var(--yellow);
}

.slider-card-text {
  transform: translateY(-25%);
  width: 100%;
}

.card-text__name {
  display: block;
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  color: var(--dark-text);
  margin-bottom: 16px;
}

.card-text__descr {
  font-size: 18px;
  line-height: 167%;
  text-align: center;
  color: var(--dark-text);
  opacity: 0.9;
}

.slider-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 26px;

}

.slider-buttons svg {
  fill: var(--dark);
}

.slider-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--yellow);
  width: 54px;
  height: 54px;
  border-radius: 50%;
  transition: box-shadow 0.3s ease-in-out;
}

.slider-button:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);

}


.slider-button--nonactive {
  width: 53px;
  height: 53px;
  background-color: rgba(49, 23, 7, 0.1);
}

.question {
  margin-bottom: 260px;
}

.question-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  max-width: 1100px;
  margin: auto;
  padding: 100px 292px;
  border-radius: 10px;
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.15);

}

.question__title {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 36px;
  line-height: 133%;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--dark-text);
  margin-bottom: 26px;
}

.question__text {
  text-align: center;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.03em;
  color: var(--dark-text);
  opacity: 0.7;
  margin-bottom: 48px;
  max-width: 580px;
}

.question__btn {
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  color: var(--dark-text);
  background-color: var(--yellow);
  padding: 16px 48px;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.question__btn:hover {
  background-color: #f1bd2d;
  opacity: 0.9;
}

.question__btn:hover {
  background-color: #FFE7A7;
}

.footer {
  background-color: #365917;
  color: var(--white-text);
  padding-top: 80px;
  padding-bottom: 20px;
}


.footer-wrapper {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin-bottom: 150px;

}

.footer__title {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.footer__link {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 25px;
}



.footer__link a {
  color: var(--white-text);
  transition: opacity 0.3s ease-in;
}

.footer__link:hover a {
  opacity: 0.8;
}

.footer-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.social-wrapper {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 70px;
}

.footer-social__link svg {
  fill: var(--white);
}

.footer-copyright {
  display: block;
  text-align: center;
}

/* Contact */


.contack-form {
  margin-bottom: 100px;

}

.form-wrapper {
  max-width: 1140px;
  background-color: #FFFBFB;
  padding: 76px 20px;
  border-radius: 10px;
  margin: 0 auto;

}

.form__titile {
  text-align: center;
  margin-bottom: 38px;
  color: var(--dark-text);

}

.form {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 560px;
}

.form__label{
  display: block;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: var(--dark-text);
}

.form__input {
  display: block;
  margin-bottom: 20px;
  max-width: 990px;
  padding: 16px 10px;
}

.form input {
  font-family: var(--font-family);
  font-size: 20px;

  border: 1px solid var(--dark);
  border-radius: 10px;
  width: 540px;
  height: 56px;
  background-color: #edeae4;
}

.form input textarea::placeholder {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 133%;
  color: rgba(49, 23, 7, 0.5);
}

.form textarea {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 133%;
  color: rgba(49, 23, 7, 0.5);
  border: 1px solid var(--dark);
  border-radius: 10px;
  width: 540px;
  background-color: #edeae4;
  resize: none;
  overflow-y: hidden;
}

.checkbox{
  display: flex;
  align-items: center;
  margin-top: 34px;
  margin-bottom: 40px;

}

.checkbox p{
  font-size: 18px;
  color: var(--dark-text);
}
.checkbox a{
  font-weight: 600;
  color: var(--yellow);
  text-decoration: underline;
}


.checkbox > .form-checkbox {
  display: block;
  width: 26px;
  height: 26px;
  margin-right: 14px;
}
.form-checkbox input {
  display: block;
  width: 26px;
  height: 26px;
}

.form > input:focus, textarea:focus{
  box-shadow: inset 0 3px 3px 0 rgba(0, 0, 0, 0.3);
  border: none;
  outline: none;
}



.form > p{
  font-weight: 500;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 50px;
}

.btn-form-wrapper{
  display: flex;
  justify-content: center;
}

.form-btn{
padding: 14px 59px;
}

